<!-- games.html -->
{% extends "template.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/game.css">
    <title>CS235 Game Library - game riblary</title>
{% endblock %}

{% block main %}

    <section>
        <div class="section_title">
            <h1>Game Liblary</h1>
        </div>

        <div class="games_holder">

            <!-- for each game in the given game list -->
            {% for game in games %}
                <div class="game">
                    <a href="/gameDescription/{{ game.game_id }}">
                        <div class="game_img">
                            <img src="{{ game.image_url }}" alt="">
                        </div>
                        <div class="game_data">
                            <div class="game_title">{{ game.title }}</div>
                            <div class="game_price">NZ$ {{ game.price }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}


        </div>
    </section>

{% endblock %}