<ul class="nav_list">
    <li><a href="/layout">Home</a></li>
    <li><a href="/games">List of Games</a></li>
    <li><a href="">Wish List</a></li>
    

    
    <li><input type="text" id="target" placeholder="Search.."></li>
    <!--<li><a href="/search/tet">Search</a></li>-->
    
    <!-- game Genre -->
    <li><a onclick="search_f()">Search</a></li>
    <li>
        <!-- {% for genre in genres %}
        <select name="example">
            <option value=""></option>
        </select>
        
        {% endfor %} -->
        <div class="dropdown">
          <a class="dropbtn">Genre</a>
          <div class="dropdown-content">
            <!--this should be jinja for loop and call servace layer -->
            {% for genre in genres %}
            <div class="Genre">
                <a href="/genre/{{ genre.genre_name }}">{{ genre.genre_name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
    </li>
    <li>
        <div class="dropdown">
          <a class="dropbtn">Publisher</a>
          <div class="dropdown-content">
            <!--this should be jinja for loop and call servace layer -->
            {% for publisher in publishers %}
            <div class="Genre">
                <a href="/publisher">{{ publisher.publisher_name }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
    </li>
</ul>

<script>
    function search_f() {
      var target = document.getElementById("target").value;
      if(target == ""){
        target = None
      }
      window.open("/search/"+target, "_parent");      
    }
</script>