.game_info {
    /* height: 400px; */
    background-color: rgb(14, 30, 77);
    display: flex;
    gap: 10px;
}

.info_left {
    width: 75%;
    margin: 0 auto;
}

.game_img img {
    width: 100%;
    height: auto;
}

.right {
    flex: 1;
    margin-right: 10px;
}
.right a:Link, .right a:visited{
    color: #66C0F4
}

.right a:hover, .right a:focus, .right a:active {
    color: #FFFFFF
}

.game_awards_content, .game_description_content, .game_user_review_zero_notice, .game_user_review_name, .game_user_review_num {
    color: #B1B1B1
}

@media (max-width: 1200px) {
    .game_info {
        flex-direction: column;
        text-align: center;
    }
    .info_left {
        width: 100%;
        margin: 0 auto;
    }
    .game_img img {
        width: 100%;
        height: auto;
    }
    .right {
        text-align: left;
        margin: 10px;
    }
}
