<!-- gameDescription.html -->
{% extends "template.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authentication/credentials.css') }}">
    <title>CS235 Game Library - {{ title }}</title>
{% endblock %}


{% block main %}

    <section>
        <div class="form_wrapper">
            <div class="section_title">
                <h1>{{ title }}</h1>
            </div>

            <form action="{{ handler_url }}" method="post">

                <table class="form_table">
                    <tbody class="form_contents">
                        <tr class="form_table_row">
                            <td>
                                {{ form.user_name.label }} 
                            </td>
                            <td>
                                {{ form.user_name }}                            
                            </td>
                        </tr>


                        <tr class="form_table_row">
                            <td>
                                {{ form.password.label }}
                            </td>
                            <td>
                                {{ form.password }}
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="form_submit">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </section>

{% endblock %}