<!-- gameDescription.html -->
{% extends "template.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gameDescription.css') }}">
    <title>CS235 Game Library - {{ game.title }}</title>
{% endblock %}


{% block main %}

    <section >
        <div class="formwrapper">
            <div class="section_title">
                <h1>Section title</h1>
            </div>

            <form action="{{ handler_url }}" method="post">

                <table class="form_table">
                    <tbody class="form_contents">
                        <tr class="form_table_row">
                            <td>
                                <label for="user_name">Your E-Mail</label> 
                            </td>
                            <td>
                                <input type="user_name" minlength="3" name="user_name" placeholder="User name is not case sensitive." class="text-input" required type="text" value>                            
                            </td>
                        </tr>


                        <tr class="form_table_row">
                            <td>
                                <label for="password">Password</label>
                            </td>
                            <td>
                                <input type="password" name="password" placeholder="Password" size="40" class="text-input" required="">
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="form_submit">
                    <input type="submit" value="Sign In" class="form_submit_button">
                </div>
            </form>
        </div>
    </section>

{% endblock %}